.DS_Store


## User settings
xcuserdata/


*.hmap

*.ipa
*.dSYM.zip
*.dSYM


timeline.xctimeline
playground.xcworkspace



.build/



Carthage/Build/


Dependencies/
.accio/



fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output


iOSInjectionProject/